.start-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    background: #959d9f;
    transform: translateX(-50%) translateY(-111px);
    z-index: 2;

    i {
        display: inline-block;
        width: 98px;
        height: 98px;
        margin-bottom: 20px;

        &.advertiser-icon {
            background: url(../img/icon-advertiser.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(../img/icon-advertiser_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                only screen and (   min--moz-device-pixel-ratio: 2.5),
                only screen and (     -o-min-device-pixel-ratio: 5/2),
                only screen and (        min-device-pixel-ratio: 2.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(../img/icon-advertiser_3x.png) no-repeat;
                    background-size: 100%;
                }
        }

        &.publisher-icon {
            background: url(../img/icon-publisher.png) no-repeat;
            position: relative;
            left: 12px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(../img/icon-publisher_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                only screen and (   min--moz-device-pixel-ratio: 2.5),
                only screen and (     -o-min-device-pixel-ratio: 5/2),
                only screen and (        min-device-pixel-ratio: 2.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(../img/icon-publisher_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }
}

.get-started {
    background: #f5f5f5;
    padding: 120px 0 40px;
    position: relative;
    top: -211px;
    margin-bottom: -211px;

    h2 {
        text-align: center;
        font-size: 62px;
        font-weight: 300;
        margin: 0 0 25px;
    }

    p {
        font-size: 16px;
        margin: 0 auto 30px;
        max-width: 700px;
        text-align: center;
        line-height: 1.7;
    }

    .signup-large {
        display: block;
        width: 400px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        background: $colorPink;
        border-radius: 5px;
        margin: 0 auto;
    }
}

.account-type-info {
    overflow: auto;
    padding-bottom: 30px;

    .info-column {
        float: left;
        width: 30%;
        margin-right: 5%;
        padding-top: 45px;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }

        .info-icon {
            height: 100px;

            i {
                display: inline-block;
                margin: 0 auto;

                &.icon-globe {
                    width: 68px;
                    height: 68px;
                    background: url(../img/globe-icon.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/globe-icon_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/globe-icon_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }

                &.icon-finger {
                    width: 50px;
                    height: 75px;
                    background: url(../img/finger-icon.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/finger-icon_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/finger-icon_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }

                &.icon-stats {
                    width: 65px;
                    height: 65px;
                    background: url(../img/stats-icon.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/stats-icon_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/stats-icon_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }

                &.icon-present {
                    width: 67px;
                    height: 65px;
                    background: url(../img/icon-present.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-present_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-present_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }

                &.icon-ok {
                    width: 70px;
                    height: 62px;
                    background: url(../img/icon-ok.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-ok_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-ok_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }

                &.icon-money {
                    width: 74px;
                    height: 46px;
                    background: url(../img/icon-money.png) no-repeat;

                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-money_2x.png) no-repeat;
                            background-size: 100%;
                        }

                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(../img/icon-money_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }
            }
        }

        h3 {
            margin: 0 0 15px;
            font-size: 32px;
            font-weight: 400;
        }

        p {
            margin: 0;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 767px) {

    .start-banner img {

        @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 667px)
        and (orientation: portrait) {
            min-height: 90px;
        }

        @media only screen
        and (min-device-width: 414px)
        and (max-device-width: 736px)
        and (orientation: portrait) {
            min-height: 100px;
        }

        @media only screen and (max-width: 400px) {
            min-height: 90px;
        }

        @media only screen and (width: 320px) {
            height: auto;
            min-height: initial;
        }
    }

    .start-icon {
        width: 78px;
        height: 78px;
        transform: translateX(-50%) translateY(-40px);

        i {
            display: inline-block;
            width: 36px;
            height: 36px;
            margin-bottom: 20px;
            margin-bottom: 5px;

            &.advertiser-icon {
                background: url(../img/icon-advertiser.png) no-repeat;
                background-size: 100%;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(../img/icon-advertiser_2x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(../img/icon-advertiser_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }

            &.publisher-icon {
                background: url(../img/icon-publisher.png) no-repeat;
                background-size: 100%;
                left: 5px;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(../img/icon-publisher_2x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(../img/icon-publisher_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    }

    .get-started {
        padding: 50px 0 20px;
        top: -78px;
        margin-bottom: -78px;

        h2 {
            font-size: 24px;
            margin: 0 0 15px;
        }

        p {
            font-size: 12px;
            margin: 0 auto 20px;
            line-height: 1.3;
        }

        .signup-large {
            width: 200px;
            height: 38px;
            line-height: 38px;
            font-size: 16px;
        }
    }

    .account-type-info {
        padding-bottom: 15px;

        .info-column {
            float: none;
            width: 100%;
            margin-right: 0;
            padding-top: 20px;
            margin-bottom: 15px;

            .info-icon {
                height: auto;
                margin-bottom: 6px;

                i {

                    &.icon-globe {
                        width: 41px;
                        height: 41px;
                        background: url(../img/globe-icon.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/globe-icon_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/globe-icon_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    &.icon-finger {
                        width: 36px;
                        height: 43px;
                        background: url(../img/finger-icon.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/finger-icon_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/finger-icon_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    &.icon-stats {
                        width: 40px;
                        height: 40px;
                        background: url(../img/stats-icon.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/stats-icon_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/stats-icon_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    &.icon-present {
                        width: 42px;
                        height: 41px;
                        background: url(../img/icon-present.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-present_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-present_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    &.icon-ok {
                        width: 42px;
                        height: 40px;
                        background: url(../img/icon-ok.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-ok_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-ok_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    &.icon-money {
                        width: 43px;
                        height: 35px;
                        background: url(../img/icon-money.png) no-repeat;
                        background-size: 100%;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-money_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(../img/icon-money_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }
                }
            }

            h3 {
                margin: 0 0 5px;
                font-size: 18px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}
