// box sizing FTW
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// common elements
.container {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    -webkit-appearance: none;
}

// floats
.left {
    float: left;
}

.right {
    float: right;
}
